bakery/agents/n8n-workflow.json
{"name":"Baker's Club - Multi-Agent Flow","nodes":[{"parameters":{"inputSource":"passthrough"},"id":"trigger-1","name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-496,300]},{"parameters":{"content":"## Baker's Club Multi-Agent\nGate → Setup | Main Router → [Order|Pricing|Marketing|Customer|Business|General]","height":180,"width":380},"id":"sticky-1","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[100,-80]},{"parameters":{"workflowId":{"__rl":true,"value":"qZHrvRFBhUhmUHKc","mode":"list","cachedResultName":"Get Prompt Form Github"},"workflowInputs":{"mappingMode":"defineBelow","value":{"path":"bakery/agents/gate-agent.md"},"matchingColumns":["path"],"schema":[{"id":"path","displayName":"path","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true}},"id":"get-gate-prompt","name":"Get Gate Prompt","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-260,300]},{"parameters":{"promptType":"define","text":"={{ $('When Executed by Another Workflow').item.json.chatInput }}\nBaker ID : {{ $('When Executed by Another Workflow').item.json.author_Id }}","options":{"systemMessage":"={{ $json.data }}"}},"id":"gate-agent","name":"Gate Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[0,300]},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('When Executed by Another Workflow').item.json.author_Id }}","contextWindowLength":2},"id":"memory-1","name":"Simple Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[0,500]},{"parameters":{"options":{}},"id":"gemini-1","name":"Google Gemini Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[0,680],"credentials":{"googlePalmApi":{"id":"Wdjpka3bF2gOBIR7","name":"Google Gemini(PaLM) Api account (SSE-AI-Monitoring)"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Get Baker details from the DB with bakers_id","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/12ErTLk5wUbn5BlGDy5wYAN9O0mZZOFsh1wSB8iIL_Ho/edit?usp=sharing","mode":"url"},"sheetName":{"__rl":true,"value":"=Details","mode":"name"},"filtersUI":{"values":[{"lookupColumn":"Baker Id*","lookupValue":"={{ $fromAI('values0_Value', '', 'string') }}"}]}},"id":"tool-get","name":"GET","type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[220,500],"credentials":{"googleSheetsOAuth2Api":{"id":"LU2FgqzsLQjAYHvC","name":"Google Sheets account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Update user missing Details","operation":"update","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/12ErTLk5wUbn5BlGDy5wYAN9O0mZZOFsh1wSB8iIL_Ho/edit?usp=sharing","mode":"url"},"sheetName":{"__rl":true,"value":"=Details","mode":"name"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["Baker Id*"],"schema":[{"id":"Name*","displayName":"Name*","required":false,"type":"string","canBeUsedToMatch":true},{"id":"Business Name*","displayName":"Business Name*","required":false,"type":"string","canBeUsedToMatch":true},{"id":"City*","displayName":"City*","required":false,"type":"string","canBeUsedToMatch":true},{"id":"Phone Number*","displayName":"Phone Number*","required":false,"type":"string","canBeUsedToMatch":true},{"id":"Baker Id*","displayName":"Baker Id*","required":false,"type":"string","canBeUsedToMatch":true}]},"options":{"cellFormat":"RAW"}},"id":"tool-update","name":"Update Details","type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[220,620],"credentials":{"googleSheetsOAuth2Api":{"id":"LU2FgqzsLQjAYHvC","name":"Google Sheets account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Setup new account with baker id","operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/12ErTLk5wUbn5BlGDy5wYAN9O0mZZOFsh1wSB8iIL_Ho/edit?usp=sharing","mode":"url"},"sheetName":{"__rl":true,"value":"=Details","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"Baker Id*":"={{ $('When Executed by Another Workflow').item.json.author_Id }}","Name*":"={{ $fromAI('Name_', '', 'string') }}","Business Name*":"={{ $fromAI('Business_Name_', '', 'string') }}","City*":"={{ $fromAI('City_', '', 'string') }}","Phone Number*":"={{ $fromAI('Phone_Number_', '', 'string') }}"}},"options":{"cellFormat":"RAW"}},"id":"tool-setup","name":"Setup New Account","type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[220,740],"credentials":{"googleSheetsOAuth2Api":{"id":"LU2FgqzsLQjAYHvC","name":"Google Sheets account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Add new Order","operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/12ErTLk5wUbn5BlGDy5wYAN9O0mZZOFsh1wSB8iIL_Ho/edit?usp=sharing","mode":"url"},"sheetName":{"__rl":true,"value":"=Orders","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('When Executed by Another Workflow').item.json.author_Id }}","customer_name":"={{ $fromAI('customer_name', '', 'string') }}","item":"={{ $fromAI('item', '', 'string') }}","weight":"={{ $fromAI('weight', '', 'string') }}","price":"={{ $fromAI('price', '', 'string') }}","phone_number":"={{ $fromAI('phone_number', '', 'string') }}","address":"={{ $fromAI('address', '', 'string') }}","delivery_date":"={{ $fromAI('delivery_date', '', 'string') }}","delivery_time":"={{ $fromAI('delivery_time', '', 'string') }}"}},"options":{"cellFormat":"RAW"}},"id":"tool-order","name":"Add New Order","type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[220,860],"credentials":{"googleSheetsOAuth2Api":{"id":"LU2FgqzsLQjAYHvC","name":"Google Sheets account"}}},{"parameters":{"jsCode":"const output = $input.first().json?.output || $input.first().json?.text || $input.first().json?.message || '';\nconst jsonMatch = output.match(/\\{\\s*\"route\"\\s*:\\s*\"([^\"]+)\"\\s*\\}/);\nconst route = jsonMatch ? jsonMatch[1] : 'main';\nreturn { json: { route, output } };"},"id":"parse-gate","name":"Parse Gate Route","type":"n8n-nodes-base.code","typeVersion":2,"position":[220,300]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"cond-setup","leftValue":"={{ $json.route }}","rightValue":"setup","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},"id":"if-gate","name":"Route Setup or Main?","type":"n8n-nodes-base.if","typeVersion":2,"position":[440,300]},{"parameters":{"assignments":{"assignments":[{"id":"output","name":"output","value":"={{ 'Here\\'s the form to set up your store:\\n\\n' + 'https://YOUR_N8N_INSTANCE.app.n8n.cloud/form/setup-store?bakerId=' + $('When Executed by Another Workflow').item.json.author_Id + '\\n\\nFill it and submit — we\\'ll save your details right away! 🎂' }}","type":"string"}]}},"id":"setup-form-link","name":"Setup Form Link","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[660,200]},{"parameters":{"jsCode":"const msg = $json.chatInput || $('When Executed by Another Workflow').first().json.chatInput || '';\nconst m = msg.toLowerCase();\nlet route = 'general';\nif (/order|create order|save order|new order|delivery|pending order|customer.*order|want to.*order/i.test(m)) route = 'order';\nelse if (/price|cost|margin|ingredient|recipe cost|bulk price/i.test(m)) route = 'pricing';\nelse if (/instagram|caption|hashtag|whatsapp|content|social media|marketing/i.test(m)) route = 'marketing';\nelse if (/customer|complaint|reply|negotiation|delay|difficult/i.test(m)) route = 'customer';\nelse if (/fssai|expand|corporate|packaging|branding|growth|business/i.test(m)) route = 'business';\nreturn { json: { route } };"},"id":"main-router","name":"Main Router (Intent)","type":"n8n-nodes-base.code","typeVersion":2,"position":[880,400]},{"parameters":{"mode":"rules","rules":{"values":[{"outputKey":"order","renameOutput":true,"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.route }}","rightValue":"order","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"outputKey":"pricing","renameOutput":true,"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.route }}","rightValue":"pricing","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"outputKey":"marketing","renameOutput":true,"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.route }}","rightValue":"marketing","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"outputKey":"customer","renameOutput":true,"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.route }}","rightValue":"customer","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"outputKey":"business","renameOutput":true,"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.route }}","rightValue":"business","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"outputKey":"general","renameOutput":true,"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.route }}","rightValue":"general","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}}]},"options":{"fallbackOutput":"extra"}},"id":"switch-main","name":"Route to Agent","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1100,400]},{"parameters":{"assignments":{"assignments":[{"id":"output","name":"output","value":"={{ 'Here\\'s the form to add your order:\\n\\n' + 'https://YOUR_N8N_INSTANCE.app.n8n.cloud/form/place-order?bakerId=' + $('When Executed by Another Workflow').item.json.author_Id + '\\n\\nFill in the details and submit — we\\'ll save it and send you a confirmation! 🎂' }}","type":"string"}]}},"id":"order-form-link","name":"Order Form Link","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1320,200]},{"parameters":{"workflowId":{"__rl":true,"value":"qZHrvRFBhUhmUHKc","mode":"list","cachedResultName":"Get Prompt Form Github"},"workflowInputs":{"mappingMode":"defineBelow","value":{"path":"bakery/agents/pricing-agent.md"}}},"id":"get-pricing-prompt","name":"Get Pricing Prompt","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1320,320]},{"parameters":{"workflowId":{"__rl":true,"value":"qZHrvRFBhUhmUHKc","mode":"list","cachedResultName":"Get Prompt Form Github"},"workflowInputs":{"mappingMode":"defineBelow","value":{"path":"bakery/agents/marketing-agent.md"}}},"id":"get-marketing-prompt","name":"Get Marketing Prompt","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1320,440]},{"parameters":{"workflowId":{"__rl":true,"value":"qZHrvRFBhUhmUHKc","mode":"list","cachedResultName":"Get Prompt Form Github"},"workflowInputs":{"mappingMode":"defineBelow","value":{"path":"bakery/agents/customer-agent.md"}}},"id":"get-customer-prompt","name":"Get Customer Prompt","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1320,560]},{"parameters":{"workflowId":{"__rl":true,"value":"qZHrvRFBhUhmUHKc","mode":"list","cachedResultName":"Get Prompt Form Github"},"workflowInputs":{"mappingMode":"defineBelow","value":{"path":"bakery/agents/business-agent.md"}}},"id":"get-business-prompt","name":"Get Business Prompt","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1320,680]},{"parameters":{"workflowId":{"__rl":true,"value":"qZHrvRFBhUhmUHKc","mode":"list","cachedResultName":"Get Prompt Form Github"},"workflowInputs":{"mappingMode":"defineBelow","value":{"path":"bakery/agents/general-agent.md"}}},"id":"get-general-prompt","name":"Get General Prompt","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1320,800]},{"parameters":{"promptType":"define","text":"={{ $('When Executed by Another Workflow').item.json.chatInput }}\nBaker ID : {{ $('When Executed by Another Workflow').item.json.author_Id }}","options":{"systemMessage":"={{ $json.data }}"}},"id":"order-agent","name":"Order Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1540,200]},{"parameters":{"promptType":"define","text":"={{ $('When Executed by Another Workflow').item.json.chatInput }}\nBaker ID : {{ $('When Executed by Another Workflow').item.json.author_Id }}","options":{"systemMessage":"={{ $json.data }}"}},"id":"pricing-agent","name":"Pricing Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1540,320]},{"parameters":{"promptType":"define","text":"={{ $('When Executed by Another Workflow').item.json.chatInput }}\nBaker ID : {{ $('When Executed by Another Workflow').item.json.author_Id }}","options":{"systemMessage":"={{ $json.data }}"}},"id":"marketing-agent","name":"Marketing Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1540,440]},{"parameters":{"promptType":"define","text":"={{ $('When Executed by Another Workflow').item.json.chatInput }}\nBaker ID : {{ $('When Executed by Another Workflow').item.json.author_Id }}","options":{"systemMessage":"={{ $json.data }}"}},"id":"customer-agent","name":"Customer Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1540,560]},{"parameters":{"promptType":"define","text":"={{ $('When Executed by Another Workflow').item.json.chatInput }}\nBaker ID : {{ $('When Executed by Another Workflow').item.json.author_Id }}","options":{"systemMessage":"={{ $json.data }}"}},"id":"business-agent","name":"Business Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1540,680]},{"parameters":{"promptType":"define","text":"={{ $('When Executed by Another Workflow').item.json.chatInput }}\nBaker ID : {{ $('When Executed by Another Workflow').item.json.author_Id }}","options":{"systemMessage":"={{ $json.data }}"}},"id":"general-agent","name":"General Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1540,800]},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"949898074585706496","mode":"list","cachedResultName":"abhifreez's server"},"sendTo":"user","userId":{"__rl":true,"value":"={{ $('When Executed by Another Workflow').item.json.author_Id }}","mode":"id"},"content":"={{ $json.output }}"},"id":"discord-1","name":"Send a message","type":"n8n-nodes-base.discord","typeVersion":2,"position":[1760,400],"credentials":{"discordBotApi":{"id":"OVthAcSzDTapTKew","name":"Discord Bot account"}}},{"parameters":{"assignments":{"assignments":[{"id":"route","name":"route","value":"={{ $json.route }}","type":"string"},{"id":"chatInput","name":"chatInput","value":"={{ $('When Executed by Another Workflow').item.json.chatInput }}","type":"string"},{"id":"author_Id","name":"author_Id","value":"={{ $('When Executed by Another Workflow').item.json.author_Id }}","type":"string"}]}},"id":"pass-context","name":"Pass Context to Main","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[660,400]}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Get Gate Prompt","type":"main","index":0}]]},"Get Gate Prompt":{"main":[[{"node":"Gate Agent","type":"main","index":0}]]},"Gate Agent":{"main":[[{"node":"Parse Gate Route","type":"main","index":0}]]},"Parse Gate Route":{"main":[[{"node":"Route Setup or Main?","type":"main","index":0}]]},"Route Setup or Main?":{"main":[[{"node":"Setup Form Link","type":"main","index":0}],[{"node":"Pass Context to Main","type":"main","index":0}]]},"Setup Form Link":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Pass Context to Main":{"main":[[{"node":"Main Router (Intent)","type":"main","index":0}]]},"Main Router (Intent)":{"main":[[{"node":"Route to Agent","type":"main","index":0}]]},"Route to Agent":{"main":[[{"node":"Order Form Link","type":"main","index":0}],[{"node":"Get Pricing Prompt","type":"main","index":0}],[{"node":"Get Marketing Prompt","type":"main","index":0}],[{"node":"Get Customer Prompt","type":"main","index":0}],[{"node":"Get Business Prompt","type":"main","index":0}],[{"node":"Get General Prompt","type":"main","index":0}]]},"Order Form Link":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Get Pricing Prompt":{"main":[[{"node":"Pricing Agent","type":"main","index":0}]]},"Get Marketing Prompt":{"main":[[{"node":"Marketing Agent","type":"main","index":0}]]},"Get Customer Prompt":{"main":[[{"node":"Customer Agent","type":"main","index":0}]]},"Get Business Prompt":{"main":[[{"node":"Business Agent","type":"main","index":0}]]},"Get General Prompt":{"main":[[{"node":"General Agent","type":"main","index":0}]]},"Pricing Agent":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Marketing Agent":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Customer Agent":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Business Agent":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"General Agent":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Gate Agent","type":"ai_languageModel","index":0},{"node":"Setup Agent","type":"ai_languageModel","index":0},{"node":"Order Agent","type":"ai_languageModel","index":0},{"node":"Pricing Agent","type":"ai_languageModel","index":0},{"node":"Marketing Agent","type":"ai_languageModel","index":0},{"node":"Customer Agent","type":"ai_languageModel","index":0},{"node":"Business Agent","type":"ai_languageModel","index":0},{"node":"General Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Gate Agent","type":"ai_memory","index":0},{"node":"Setup Agent","type":"ai_memory","index":0},{"node":"Order Agent","type":"ai_memory","index":0},{"node":"Pricing Agent","type":"ai_memory","index":0},{"node":"Marketing Agent","type":"ai_memory","index":0},{"node":"Customer Agent","type":"ai_memory","index":0},{"node":"Business Agent","type":"ai_memory","index":0},{"node":"General Agent","type":"ai_memory","index":0}]]},"GET":{"ai_tool":[[{"node":"Gate Agent","type":"ai_tool","index":0},{"node":"Setup Agent","type":"ai_tool","index":0},{"node":"Order Agent","type":"ai_tool","index":0}]]},"Update Details":{"ai_tool":[[{"node":"Setup Agent","type":"ai_tool","index":0}]]},"Setup New Account":{"ai_tool":[[{"node":"Setup Agent","type":"ai_tool","index":0}]]},"Add New Order":{"ai_tool":[[{"node":"Order Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"bakers-club-merged"}
