bakery/agents/n8n-workflow.json
{
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [240, -6816],
      "id": "58835e13-a466-42af-8045-d5156733f83c",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qZHrvRFBhUhmUHKc",
          "mode": "list",
          "cachedResultName": "Get Prompt Form Github"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "path": "bakery/agents/gate-agent.md"
          },
          "matchingColumns": ["path"],
          "schema": [
            {
              "id": "path",
              "displayName": "path",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "a7e103b0-40f3-4cd8-8f07-fa62178662ef",
      "name": "Get Gate Prompt1",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [160, -6496]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When Executed by Another Workflow').item.json.chatInput }}\nBaker ID : {{ $('When Executed by Another Workflow').item.json.author_Id }}",
        "options": {
          "systemMessage": "={{ $json.data }}"
        }
      },
      "id": "78b63545-fce9-4d89-9fc8-a92a596a988e",
      "name": "Gate Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [384, -6496]
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get pending orders for the current baker from the Orders sheet. Use to list, view, or check orders when baker asks for pending orders, my orders, list orders, etc.",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/12ErTLk5wUbn5BlGDy5wYAN9O0mZZOFsh1wSB8iIL_Ho/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "=Orders",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "id",
              "lookupValue": "={{ $('When Executed by Another Workflow').item.json.author_Id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8aed2fea-160c-44b7-8ace-d401655f0a71",
      "name": "Get Orders1",
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [2336, -5216],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LU2FgqzsLQjAYHvC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const output = $input.first().json?.output || $input.first().json?.text || $input.first().json?.message || '';\nconst jsonMatch = output.match(/\\{\\s*\"route\"\\s*:\\s*\"([^\"]+)\"\\s*\\}/);\nconst route = jsonMatch ? jsonMatch[1] : 'main';\nreturn { json: { route, output } };"
      },
      "id": "8767e569-b0ae-4c37-a0be-5c992c6a07e0",
      "name": "Parse Gate Route1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [736, -6496]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-setup",
              "leftValue": "={{ $json.route }}",
              "rightValue": "setup",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7cce40e9-352d-43f5-a974-3ddfe138bb9b",
      "name": "Route Setup or Main?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [960, -6496]
    },
    {
      "parameters": {
        "jsCode": "const msg = $json.chatInput || $('When Executed by Another Workflow').first().json.chatInput || '';\nconst m = msg.toLowerCase();\nlet route = 'general';\nif (/pending order|my order|list order|show order|what order|tell.*order|view order|check order/i.test(m)) route = 'order_view';\nelse if (/create order|add order|save order|new order|place order|want to.*order|delivery.*order|customer.*order/i.test(m)) route = 'order_create';\nelse if (/price|cost|margin|ingredient|recipe cost|bulk price/i.test(m)) route = 'pricing';\nelse if (/instagram|caption|hashtag|whatsapp|content|social media|marketing/i.test(m)) route = 'marketing';\nelse if (/customer|complaint|reply|negotiation|delay|difficult/i.test(m)) route = 'customer';\nelse if (/fssai|expand|corporate|packaging|branding|growth|business/i.test(m)) route = 'business';\nreturn { json: { route } };"
      },
      "id": "14e4bf0f-c238-4529-ad4b-85fd25d0b4aa",
      "name": "Main Router (Intent)1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1408, -6208]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "order_create",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "order_create"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "order_view",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "order_view"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "pricing",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pricing"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "marketing",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "marketing"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "customer",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "customer"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "business",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "business"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "general",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "general"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "ba6493c5-1d8c-4799-a7dd-9fb5b748c083",
      "name": "Route to Agent1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [1632, -6304]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qZHrvRFBhUhmUHKc",
          "mode": "list",
          "cachedResultName": "Get Prompt Form Github"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "path": "bakery/agents/order-agent.md"
          }
        },
        "options": {}
      },
      "id": "4852cfa0-1a33-4a14-9fb7-d78bfc64b6e0",
      "name": "Get Order Prompt1",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [1856, -6688]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qZHrvRFBhUhmUHKc",
          "mode": "list",
          "cachedResultName": "Get Prompt Form Github"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "path": "bakery/agents/pricing-agent.md"
          }
        },
        "options": {}
      },
      "id": "c7840892-b78b-4225-a2a6-efd2f80b4536",
      "name": "Get Pricing Prompt1",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [1856, -6496]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qZHrvRFBhUhmUHKc",
          "mode": "list",
          "cachedResultName": "Get Prompt Form Github"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "path": "bakery/agents/marketing-agent.md"
          }
        },
        "options": {}
      },
      "id": "aa7827b9-4bc3-42a0-83ef-e09d851e5818",
      "name": "Get Marketing Prompt1",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [1920, -6272]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qZHrvRFBhUhmUHKc",
          "mode": "list",
          "cachedResultName": "Get Prompt Form Github"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "path": "bakery/agents/customer-agent.md"
          }
        },
        "options": {}
      },
      "id": "28a4e2cb-e093-4067-8a3f-790f222a6e9f",
      "name": "Get Customer Prompt1",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [1856, -6112]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qZHrvRFBhUhmUHKc",
          "mode": "list",
          "cachedResultName": "Get Prompt Form Github"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "path": "bakery/agents/business-agent.md"
          }
        },
        "options": {}
      },
      "id": "9afe0569-5e44-4422-b2ce-c87aedb218f5",
      "name": "Get Business Prompt1",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [1856, -5920]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qZHrvRFBhUhmUHKc",
          "mode": "list",
          "cachedResultName": "Get Prompt Form Github"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "path": "bakery/agents/general-agent.md"
          }
        },
        "options": {}
      },
      "id": "441750b2-c1ec-4c46-ba16-5bb473addeef",
      "name": "Get General Prompt1",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [1856, -5728]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When Executed by Another Workflow').item.json.chatInput }}\nBaker ID : {{ $('When Executed by Another Workflow').item.json.author_Id }}",
        "options": {
          "systemMessage": "={{ $json.data }}"
        }
      },
      "id": "ec288363-412d-481d-9732-cdb59b44312c",
      "name": "Order Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [2272, -5440]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When Executed by Another Workflow').item.json.chatInput }}\nBaker ID : {{ $('When Executed by Another Workflow').item.json.author_Id }}",
        "options": {
          "systemMessage": "={{ $json.data }}"
        }
      },
      "id": "710b3ae3-d62c-4de5-a29d-e59441ce7f84",
      "name": "Pricing Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [2272, -6496]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When Executed by Another Workflow').item.json.chatInput }}\nBaker ID : {{ $('When Executed by Another Workflow').item.json.author_Id }}",
        "options": {
          "systemMessage": "={{ $json.data }}"
        }
      },
      "id": "f3860717-76c8-4331-ae2f-504da3311f03",
      "name": "Marketing Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [2272, -6304]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When Executed by Another Workflow').item.json.chatInput }}\nBaker ID : {{ $('When Executed by Another Workflow').item.json.author_Id }}",
        "options": {
          "systemMessage": "={{ $json.data }}"
        }
      },
      "id": "4d18fd9d-809b-4bdb-ad19-39935e2a0df3",
      "name": "Customer Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [2272, -6112]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When Executed by Another Workflow').item.json.chatInput }}\nBaker ID : {{ $('When Executed by Another Workflow').item.json.author_Id }}",
        "options": {
          "systemMessage": "={{ $json.data }}"
        }
      },
      "id": "675a3160-f130-4dec-a8a3-38c28b07324a",
      "name": "Business Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [2272, -5920]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When Executed by Another Workflow').item.json.chatInput }}\nBaker ID : {{ $('When Executed by Another Workflow').item.json.author_Id }}",
        "options": {
          "systemMessage": "={{ $json.data }}"
        }
      },
      "id": "fdf9c530-d2a8-4db4-a324-e825aea84e65",
      "name": "General Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [2272, -5728]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "route",
              "name": "route",
              "value": "={{ $json.route }}",
              "type": "string"
            },
            {
              "id": "chatInput",
              "name": "chatInput",
              "value": "={{ $('When Executed by Another Workflow').item.json.chatInput }}",
              "type": "string"
            },
            {
              "id": "author_Id",
              "name": "author_Id",
              "value": "={{ $('When Executed by Another Workflow').item.json.author_Id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "23b35b75-eb73-4151-925b-a24816a6b6b3",
      "name": "Pass Context to Main1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1184, -6208]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When Executed by Another Workflow').item.json.author_Id }}",
        "contextWindowLength": 10
      },
      "id": "141e930f-b25f-4ab1-a5fc-c5d08c792750",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [2208, -5216]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "1e3dbfd2-0164-46dc-92aa-fff39f8c947b",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [2080, -5216],
      "credentials": {
        "googlePalmApi": {
          "id": "Wdjpka3bF2gOBIR7",
          "name": "Google Gemini(PaLM) Api account (SSE-AI-Monitoring)"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get Baker details from the DB with bakers_id",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/12ErTLk5wUbn5BlGDy5wYAN9O0mZZOFsh1wSB8iIL_Ho/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "=Details",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Baker Id*",
              "lookupValue": "={{ $fromAI('values0_Value', '', 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a43ddc02-8fef-4f8b-a331-e44a63a22b70",
      "name": "GET",
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [2464, -5216],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LU2FgqzsLQjAYHvC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Add new Order",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/12ErTLk5wUbn5BlGDy5wYAN9O0mZZOFsh1wSB8iIL_Ho/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "=Orders",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('When Executed by Another Workflow').item.json.author_Id }}",
            "customer_name": "={{ $fromAI('customer_name', '', 'string') }}",
            "item": "={{ $fromAI('item', '', 'string') }}",
            "weight": "={{ $fromAI('weight', '', 'string') }}",
            "price": "={{ $fromAI('price', '', 'string') }}",
            "phone_number": "={{ $fromAI('phone_number', '', 'string') }}",
            "address": "={{ $fromAI('address', '', 'string') }}",
            "delivery_date": "={{ $fromAI('delivery_date', '', 'string') }}",
            "delivery_time": "={{ $fromAI('delivery_time', '', 'string') }}"
          }
        },
        "options": {
          "cellFormat": "RAW"
        }
      },
      "id": "5afb2cff-4f96-47b5-98d1-812fad7263e6",
      "name": "Add New Order",
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [2592, -5216],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LU2FgqzsLQjAYHvC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "output",
              "name": "output",
              "value": "={{ 'Here\\'s the form to add your order:\\n\\n' + 'https://n8n.tetrissoft.com/form/place-order?bakerId=' + $('When Executed by Another Workflow').item.json.author_Id + '\\n\\nFill in the details and submit — we\\'ll save it and send you a confirmation! 🎂' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "6b72190a-cea9-4ccd-af44-a2737f43a5bc",
      "name": "Order Form Link",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2336, -6688]
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "949898074585706496",
          "mode": "list",
          "cachedResultName": "abhifreez's server"
        },
        "sendTo": "user",
        "userId": {
          "__rl": true,
          "value": "={{ $('When Executed by Another Workflow').item.json.author_Id }}",
          "mode": "id"
        },
        "content": "={{ $json.output }}",
        "options": {}
      },
      "id": "c1d38c59-d3e7-466b-934a-66042c66236d",
      "name": "Send a message",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [2800, -6192],
      "webhookId": "fccfb025-1ff2-4c86-ad5b-32ad09d574a6",
      "credentials": {
        "discordBotApi": {
          "id": "OVthAcSzDTapTKew",
          "name": "Discord Bot account"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get Gate Prompt1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Gate Prompt1": {
      "main": [
        [
          {
            "node": "Gate Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gate Agent1": {
      "main": [
        [
          {
            "node": "Parse Gate Route1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Orders1": {
      "ai_tool": [
        [
          {
            "node": "Order Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Parse Gate Route1": {
      "main": [
        [
          {
            "node": "Route Setup or Main?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Setup or Main?1": {
      "main": [
        [],
        [
          {
            "node": "Pass Context to Main1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Main Router (Intent)1": {
      "main": [
        [
          {
            "node": "Route to Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route to Agent1": {
      "main": [
        [
          {
            "node": "Order Form Link",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Order Prompt1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Pricing Prompt1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Marketing Prompt1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Customer Prompt1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Business Prompt1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get General Prompt1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Order Prompt1": {
      "main": [
        [
          {
            "node": "Order Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pricing Prompt1": {
      "main": [
        [
          {
            "node": "Pricing Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Marketing Prompt1": {
      "main": [
        [
          {
            "node": "Marketing Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Customer Prompt1": {
      "main": [
        [
          {
            "node": "Customer Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Business Prompt1": {
      "main": [
        [
          {
            "node": "Business Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get General Prompt1": {
      "main": [
        [
          {
            "node": "General Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Order Agent1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pricing Agent1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marketing Agent1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Customer Agent1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Business Agent1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "General Agent1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass Context to Main1": {
      "main": [
        [
          {
            "node": "Main Router (Intent)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Gate Agent1",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Order Agent1",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Pricing Agent1",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Marketing Agent1",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Customer Agent1",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Business Agent1",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "General Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Gate Agent1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Order Agent1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Pricing Agent1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Marketing Agent1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Customer Agent1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Business Agent1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "General Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "GET": {
      "ai_tool": [
        [
          {
            "node": "Gate Agent1",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Order Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add New Order": {
      "ai_tool": [
        [
          {
            "node": "Order Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Order Form Link": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "25cf0e9e63e0e61a662eff9163d5d6c39148e8885c4bf4c40be25105a6e56db5"
  }
}
