bakery/agents/n8n-workflow.json
{
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [-544, -4336],
      "id": "726e8a12-d628-4349-bede-9a59ad144d70",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qZHrvRFBhUhmUHKc",
          "mode": "list",
          "cachedResultName": "Get Prompt Form Github"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "path": "bakery/agents/gate-agent.md"
          },
          "matchingColumns": ["path"],
          "schema": [
            {
              "id": "path",
              "displayName": "path",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "25383312-f432-4f7b-bfea-14ddc2397c10",
      "name": "Get Gate Prompt",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [-320, -4336]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When Executed by Another Workflow').item.json.chatInput }}\nBaker ID : {{ $('When Executed by Another Workflow').item.json.author_Id }}",
        "options": {
          "systemMessage": "={{ $json.data }}"
        }
      },
      "id": "e44e36f9-3dd4-4ed7-8818-0b3eb9aa2f6a",
      "name": "Gate Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [-96, -4336]
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get pending orders for the current baker from the Orders sheet. Use to list, view, or check orders when baker asks for pending orders, my orders, list orders, etc.",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/12ErTLk5wUbn5BlGDy5wYAN9O0mZZOFsh1wSB8iIL_Ho/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "=Orders",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "id",
              "lookupValue": "={{ $('When Executed by Another Workflow').item.json.author_Id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "01435264-afdd-4ac3-a06b-5ab377ea8874",
      "name": "Get Orders",
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [1856, -3056],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LU2FgqzsLQjAYHvC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const output = $input.first().json?.output || $input.first().json?.text || $input.first().json?.message || '';\nconst jsonMatch = output.match(/\\{\\s*\"route\"\\s*:\\s*\"([^\"]+)\"\\s*\\}/);\nconst route = jsonMatch ? jsonMatch[1] : 'main';\nreturn { json: { route, output } };"
      },
      "id": "b10281d3-d92f-49a4-b4ad-b6edb9463e5e",
      "name": "Parse Gate Route",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [256, -4336]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-setup",
              "leftValue": "={{ $json.route }}",
              "rightValue": "setup",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3b3ca0a7-501c-4e6a-b385-a8856d3147b6",
      "name": "Route Setup or Main?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [480, -4336]
    },
    {
      "parameters": {
        "jsCode": "const msg = $json.chatInput || $('When Executed by Another Workflow').first().json.chatInput || '';\nconst m = msg.toLowerCase();\nlet route = 'general';\nif (/pending order|my order|list order|show order|what order|tell.*order|view order|check order/i.test(m)) route = 'order_view';\nelse if (/create order|add order|save order|new order|place order|want to.*order|delivery.*order|customer.*order/i.test(m)) route = 'order_create';\nelse if (/price|cost|margin|ingredient|recipe cost|bulk price/i.test(m)) route = 'pricing';\nelse if (/instagram|caption|hashtag|whatsapp|content|social media|marketing/i.test(m)) route = 'marketing';\nelse if (/customer|complaint|reply|negotiation|delay|difficult/i.test(m)) route = 'customer';\nelse if (/fssai|expand|corporate|packaging|branding|growth|business/i.test(m)) route = 'business';\nreturn { json: { route } };"
      },
      "id": "501847ec-fee2-4e61-88a3-d6a94a9baf2e",
      "name": "Main Router (Intent)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [928, -4048]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "order_create",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "order_create"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "order_view",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "order_view"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "pricing",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pricing"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "marketing",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "marketing"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "customer",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "customer"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "business",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "business"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "general",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "general"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "7ca5e898-afd5-4c0f-a155-22c67c75a3b4",
      "name": "Route to Agent",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [1152, -4144]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qZHrvRFBhUhmUHKc",
          "mode": "list",
          "cachedResultName": "Get Prompt Form Github"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "path": "bakery/agents/order-agent.md"
          }
        },
        "options": {}
      },
      "id": "get-order-prompt",
      "name": "Get Order Prompt",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [1376, -4528]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qZHrvRFBhUhmUHKc",
          "mode": "list",
          "cachedResultName": "Get Prompt Form Github"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "path": "bakery/agents/pricing-agent.md"
          }
        },
        "options": {}
      },
      "id": "33e0e9fd-f84c-4ba6-8944-3b7be3249c52",
      "name": "Get Pricing Prompt",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [1376, -4336]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qZHrvRFBhUhmUHKc",
          "mode": "list",
          "cachedResultName": "Get Prompt Form Github"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "path": "bakery/agents/marketing-agent.md"
          }
        },
        "options": {}
      },
      "id": "3da14ce0-3732-4784-b47d-d83eeeb6aaad",
      "name": "Get Marketing Prompt",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [1440, -4112]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qZHrvRFBhUhmUHKc",
          "mode": "list",
          "cachedResultName": "Get Prompt Form Github"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "path": "bakery/agents/customer-agent.md"
          }
        },
        "options": {}
      },
      "id": "1b57da15-d0d9-4fa8-b7ab-1d8c859b2ea2",
      "name": "Get Customer Prompt",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [1376, -3952]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qZHrvRFBhUhmUHKc",
          "mode": "list",
          "cachedResultName": "Get Prompt Form Github"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "path": "bakery/agents/business-agent.md"
          }
        },
        "options": {}
      },
      "id": "fbe28273-4c33-47e6-8203-5f64299d1ead",
      "name": "Get Business Prompt",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [1376, -3760]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qZHrvRFBhUhmUHKc",
          "mode": "list",
          "cachedResultName": "Get Prompt Form Github"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "path": "bakery/agents/general-agent.md"
          }
        },
        "options": {}
      },
      "id": "883c1cb3-d7e0-4804-83cc-330ed8a83c47",
      "name": "Get General Prompt",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [1376, -3568]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When Executed by Another Workflow').item.json.chatInput }}\nBaker ID : {{ $('When Executed by Another Workflow').item.json.author_Id }}",
        "options": {
          "systemMessage": "={{ $json.data }}"
        }
      },
      "id": "0074e5a6-7f48-4983-a617-1ed73c0e8840",
      "name": "Order Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [1792, -3280]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When Executed by Another Workflow').item.json.chatInput }}\nBaker ID : {{ $('When Executed by Another Workflow').item.json.author_Id }}",
        "options": {
          "systemMessage": "={{ $json.data }}"
        }
      },
      "id": "5405464a-102f-4c22-a911-48b0e00cb518",
      "name": "Pricing Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [1792, -4336]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When Executed by Another Workflow').item.json.chatInput }}\nBaker ID : {{ $('When Executed by Another Workflow').item.json.author_Id }}",
        "options": {
          "systemMessage": "={{ $json.data }}"
        }
      },
      "id": "e3943877-f4b0-49c2-be70-7ceb92dd356a",
      "name": "Marketing Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [1792, -4144]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When Executed by Another Workflow').item.json.chatInput }}\nBaker ID : {{ $('When Executed by Another Workflow').item.json.author_Id }}",
        "options": {
          "systemMessage": "={{ $json.data }}"
        }
      },
      "id": "50fc7d42-9167-41d4-b1f6-d8268cba1a6b",
      "name": "Customer Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [1792, -3952]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When Executed by Another Workflow').item.json.chatInput }}\nBaker ID : {{ $('When Executed by Another Workflow').item.json.author_Id }}",
        "options": {
          "systemMessage": "={{ $json.data }}"
        }
      },
      "id": "cf36bd34-92d0-4cd8-a7c1-a72ca799b62b",
      "name": "Business Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [1792, -3760]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When Executed by Another Workflow').item.json.chatInput }}\nBaker ID : {{ $('When Executed by Another Workflow').item.json.author_Id }}",
        "options": {
          "systemMessage": "={{ $json.data }}"
        }
      },
      "id": "8692f48e-4012-48cd-86f5-cbcf37fb38b2",
      "name": "General Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [1792, -3568]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "route",
              "name": "route",
              "value": "={{ $json.route }}",
              "type": "string"
            },
            {
              "id": "chatInput",
              "name": "chatInput",
              "value": "={{ $('When Executed by Another Workflow').item.json.chatInput }}",
              "type": "string"
            },
            {
              "id": "author_Id",
              "name": "author_Id",
              "value": "={{ $('When Executed by Another Workflow').item.json.author_Id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "972d8635-a280-4b5c-9841-aae84bf0065a",
      "name": "Pass Context to Main",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [704, -4048]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When Executed by Another Workflow').item.json.author_Id }}",
        "contextWindowLength": 2
      },
      "id": "1434479e-9dad-4406-b8a1-16b0abbce541",
      "name": "Simple Memory1",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [1728, -3056]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "996e06c8-9da0-451d-afe9-5d8d1bf27c65",
      "name": "Google Gemini Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [1600, -3056],
      "credentials": {
        "googlePalmApi": {
          "id": "Wdjpka3bF2gOBIR7",
          "name": "Google Gemini(PaLM) Api account (SSE-AI-Monitoring)"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get Baker details from the DB with bakers_id",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/12ErTLk5wUbn5BlGDy5wYAN9O0mZZOFsh1wSB8iIL_Ho/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "=Details",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Baker Id*",
              "lookupValue": "={{ $fromAI('values0_Value', '', 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4612af4f-6597-4929-b98c-53158a5bef61",
      "name": "GET1",
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [1984, -3056],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LU2FgqzsLQjAYHvC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Add new Order",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/12ErTLk5wUbn5BlGDy5wYAN9O0mZZOFsh1wSB8iIL_Ho/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "=Orders",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('When Executed by Another Workflow').item.json.author_Id }}",
            "customer_name": "={{ $fromAI('customer_name', '', 'string') }}",
            "item": "={{ $fromAI('item', '', 'string') }}",
            "weight": "={{ $fromAI('weight', '', 'string') }}",
            "price": "={{ $fromAI('price', '', 'string') }}",
            "phone_number": "={{ $fromAI('phone_number', '', 'string') }}",
            "address": "={{ $fromAI('address', '', 'string') }}",
            "delivery_date": "={{ $fromAI('delivery_date', '', 'string') }}",
            "delivery_time": "={{ $fromAI('delivery_time', '', 'string') }}"
          }
        },
        "options": {
          "cellFormat": "RAW"
        }
      },
      "id": "6d136cd8-8d5e-4707-a267-2918b47d4df9",
      "name": "Add New Order1",
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [2112, -3056],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LU2FgqzsLQjAYHvC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "output",
              "name": "output",
              "value": "={{ 'Here\\'s the form to set up your store:\\n\\n' + 'https://n8n.tetrissoft.com/form/6dc46bd6-453b-4d4b-963d-1842304e6f6f?bakerId=' + $('When Executed by Another Workflow').item.json.author_Id + '\\n\\nFill it and submit — we\\'ll save your details right away! 🎂' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "9de1d457-bd58-4e6e-ac3b-4900492f594e",
      "name": "Setup Form Link1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1856, -4720]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "output",
              "name": "output",
              "value": "={{ 'Here\\'s the form to add your order:\\n\\n' + 'https://n8n.tetrissoft.com/form/place-order?bakerId=' + $('When Executed by Another Workflow').item.json.author_Id + '\\n\\nFill in the details and submit — we\\'ll save it and send you a confirmation! 🎂' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b83af487-1215-4bee-a02d-6e2445f6b9a4",
      "name": "Order Form Link1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1856, -4528]
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "949898074585706496",
          "mode": "list",
          "cachedResultName": "abhifreez's server"
        },
        "sendTo": "user",
        "userId": {
          "__rl": true,
          "value": "={{ $('When Executed by Another Workflow').item.json.author_Id }}",
          "mode": "id"
        },
        "content": "={{ $json.output }}",
        "options": {}
      },
      "id": "cd265a08-f860-4964-949a-a4beaf559978",
      "name": "Send a message1",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [2320, -4032],
      "webhookId": "fccfb025-1ff2-4c86-ad5b-32ad09d574a6",
      "credentials": {
        "discordBotApi": {
          "id": "OVthAcSzDTapTKew",
          "name": "Discord Bot account"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get Gate Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Gate Prompt": {
      "main": [
        [
          {
            "node": "Gate Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gate Agent": {
      "main": [
        [
          {
            "node": "Parse Gate Route",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Orders": {
      "ai_tool": [
        [
          {
            "node": "Order Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Parse Gate Route": {
      "main": [
        [
          {
            "node": "Route Setup or Main?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Setup or Main?": {
      "main": [
        [
          {
            "node": "Setup Form Link1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pass Context to Main",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Main Router (Intent)": {
      "main": [
        [
          {
            "node": "Route to Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route to Agent": {
      "main": [
        [
          {
            "node": "Order Form Link1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Order Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Pricing Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Marketing Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Customer Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Business Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get General Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pricing Prompt": {
      "main": [
        [
          {
            "node": "Pricing Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Marketing Prompt": {
      "main": [
        [
          {
            "node": "Marketing Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Customer Prompt": {
      "main": [
        [
          {
            "node": "Customer Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Business Prompt": {
      "main": [
        [
          {
            "node": "Business Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get General Prompt": {
      "main": [
        [
          {
            "node": "General Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Order Agent": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pricing Agent": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marketing Agent": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Customer Agent": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Business Agent": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "General Agent": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass Context to Main": {
      "main": [
        [
          {
            "node": "Main Router (Intent)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "Gate Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Order Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Pricing Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Marketing Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Customer Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Business Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "General Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Gate Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Order Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Pricing Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Marketing Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Customer Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Business Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "General Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "GET1": {
      "ai_tool": [
        [
          {
            "node": "Gate Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Order Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add New Order1": {
      "ai_tool": [
        [
          {
            "node": "Order Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Setup Form Link1": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Order Form Link1": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Order Prompt": {
      "main": [
        [
          {
            "node": "Order Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "chatInput": "Hello",
        "channel": "1475367906740273453",
        "author_Id": "941061248391462942",
        "name": "DM"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "25cf0e9e63e0e61a662eff9163d5d6c39148e8885c4bf4c40be25105a6e56db5"
  }
}
